@import "tailwindcss";


@theme {
  /* ===== Brand ===== */
  --color-brand-primary: #240457;
  --color-brand-primary-light: #9747FF;
  --color-brand-secondary: #E8EEF6;

  /* ===== Surfaces ===== */
  --color-surface-DEFAULT: #ffffff;
  --color-surface-muted: #f3f4f6;
  --color-surface-elevated: #ffffff;
  --color-scaffold-background: #E3E3E3;
  --color-surface: #ffffff;

  /* ===== Text ===== */
  --color-text-primary: #010101;
  --color-text-secondary: #556179;
  --color-text-hint: #9ca3af;
  --color-text-inverse: #ffffff;
  --color-text-link: #2497CD;

  /* ===== Borders ===== */
  --color-border-light: #d3d6de;
  --color-border-dark: rgba(51, 51, 51, 0.6);

  /* ===== Status / Accent ===== */
  --color-accent-success: #22c55e;
  --color-accent-warning: #facc15;
  --color-accent-danger: #dc2626;
  --color-accent-info: #0A78D2;

  /* ===== Highlight Backgrounds ===== */
  --color-highlight-yellow: #FEF3C7;
  --color-highlight-red: #FECACA;
  --color-highlight-purple: #E9D5FF;
  --color-highlight-blue: #d1defa;
  --color-highlight-green: #DCFCE7;

  /* ===== Mislenous Colors ===== */
  --color-teal: #14B8A6;
  --color-brown: #92400e;
  --color-green: #0ea443;
  --color-purple-dark: #6b21a8;
  --color-blue-dark: #3b82f6;

  /* ===== Typography ===== */
  --font-primary: 'Open Sans', sans-serif;
  --text-heading-size: 22px;
  --text-heading-weight: 400;

  /* ===== Shadows ===== */
  --shadow-appBar: 0 4px 10px rgba(0, 0, 0, 0.15);
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* ===== Radius ===== */
  --radius-input: 0.7rem;
  --radius-card: 0.4rem;

  /* ===== Sizes ===== */
  --height-input: 2.75rem;
  --spacing-100: 25rem;

  /* ===== Breakpoints ===== */
  --breakpoint-sm: 900px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1366px;
  --breakpoint-xl: 1440px;
}

/* 
   Keep standard root variables if needed for other libs, 
   but mapped to our new theme values or just hardcoded.
*/
:root {
  --background: #f2f2f2;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-scaffold-background);
  color: var(--foreground);
  font-family: var(--font-primary);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.3s ease-out forwards;
  }
}